{{!-- {{#if user}}
  <h1>MON PROFIL</h1>
  <h2>{{ user.civilite }} {{ user.firstname }} {{ user.lastname }}</h2>
  <p>Membre depuis le {{ user.createdAt }}</p>
  <button>ENREGISTRER</button>
    <button>SUPPRIMER MON COMPTE</button>
{{else}}
  <p>Vous n'êtes pas connecté.</p>
  <h2></h2>
  <button><a href="/login"></a>SE CONNECTER</button>
{{/if}} --}}