<div id="profil-page">
  {{#if user}}
    <h1>Mon profil</h1>
    <h2>{{ user.civilite }} {{ user.firstname }} {{ user.lastname }}</h2>  
    <h4>Membre depuis le {{ user.createdAt }}</h4>


  <div class="editprofil-form">
    <form action="/profil-edit" method="POST">
      <label>Email</label>
        <input type="text" name="email" value="{{user.email}}" />
      
      <label>Mot de passe</label>
        <input type="text" name="passwordHash"  placeholder="********" />
      
      <button>ENREGISTRER LES MODIFICATIONS</button>
    </form>
  </div>

  <div class="edit-confirm">
    {{#if message}}
      {{message}}
    {{/if}}
  </div>

  <div class="profil-delete">
  <form action="/profil-deleted" method="POST">
      <button>Supprimer mon compte</button>
  </form>
  </div>
  


  {{else}}
    <h3>Vous n'êtes pas connecté.</h3>
    <button><a href="/login"></a>SE CONNECTER</button>
  {{/if}}

</div>
