{{#if user}}
  <h1>MON PROFIL</h1>
  <h3>{{ user.civilite }}</h3>
  <h3>{{ user.firstname }}</h3>
  <h3>{{ user.lastname }}</h3>  
  <h3>Membre depuis le {{ user.createdAt }}</h3>
  <button>ENREGISTRER</button>
  <button>SUPPRIMER MON COMPTE</button>
{{else}}
  <h3>Vous n'êtes pas connecté.</h3>
  <button><a href="/login"></a>SE CONNECTER</button>
{{/if}}