<div id="profil-updated-confirmation">
    <div class="background-popin">
        {{#if user}}
        <h1>MON PROFIL</h1>
        <h3>{{ user.civilite }}</h3>
        <h3>{{ user.firstname }}</h3>
        <h3>{{ user.lastname }}</h3>  
        <h3>Membre depuis le {{ user.createdAt }}</h3>
        <form action="/profil-edit" method="POST">
        <label>
            Email
            <input type="text" name="email" value="{{user.email}}" />
        </label>
        <label>
            Mot de passe
            <input type="text" name="passwordHash"  placeholder="********" />
        </label>
            <button>ENREGISTRER MODIFICATION</button>
        </form>
           <button>SUPPRIMER MON COMPTE</button>
        
        {{else}}
        <h3>Vous n'êtes pas connecté.</h3>
        <button><a href="/login"></a>SE CONNECTER</button>
        {{/if}}
    </div>
    <div class="popin">
        <p>Vos modifications ont bien été enregistrées.</p>
        <button>RETOUR A LA PAGE D'ACCUEIL</button>
    </div>
</div>