<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  <nav>
    <ul>
      <li id="to-left">
        <p><a href="/"> UPOSH|ME </a></p>
      </li>
      <li id="to-right">
        {{#if user}}
        <a href="/mybrands">MES MARQUES</a>
        <a href="/profil-edit">{{ user.firstname }} {{ user.lastname }}</a>
        <form id="logout-form" action="/logout" method="POST">
        <button>SE DECONNECTER</button>
        </form>
        
        {{else}}
      <a href="/login">SE CONNECTER</a>
        {{/if}}
      </li>
    </ul>
  </nav>

  {{{body}}}

  <footer>
    <h3>UPOSH | ME</h3>
    <div class ="lign-footer"></div>
    <ul>
      <li>
        <p><!--<a href="/">--> FAQ </a></p>
      </li>
      <li>
        <p><!--<a href="/">--> CONTACT </a></p>
      </li>
      <li>
        <p><!--<a href="/">--> CONDITIONS </a></p>
      </li>
      <li>
        <p><!--<a href="/">--> CONFIDENTIALITÉ </a></p>
      </li>
    </ul>
  </footer>

  <script src="/javascripts/script.js"></script>
</body>
</html>