<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:ital,wght@0,300;1,400&display=swap" rel="stylesheet">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  <nav class= "navbar-container">
    <div id="to-left"><a href="/"> UPOSH|ME </a></div>

    <div id="to-right">
        {{#if user}}
        <div>
          <a href="/mybrands">MES MARQUES</a>
        </div>
        <div>
          <a href="/profil-edit">{{ user.firstname }} {{ user.lastname }}</a>
        </div>
        <div>
          <form id="logout-form" action="/logout" method="POST">
          <button>SE DECONNECTER</button>
        </div>
        </form>
        
        {{else}}
        <div><a href="/login">SE CONNECTER</a></div>
        {{/if}}
    </div>
  </nav>

  {{{body}}}

  <footer>
    <h3>UPOSH | ME</h3>
    <div class ="lign-footer"></div>
    <ul>
      <li>
        <p><a href="/faq"> FAQ </a></p>
      </li>
      <li>
        <p><a href="/contact"> CONTACT </a></p>
      </li>
      <li>
        <p><a href="/cgv"> CONDITIONS </a></p>
      </li>
      <li>
        <p><a href="/confidentialite"> CONFIDENTIALITÉ </a></p>
      </li>
    </ul>
  </footer>

  <script src="/javascripts/script.js"></script>
</body>
</html>