<div id="brand-detail">
      <div><a href="{{brand.websiteUrl}}" target="_blank"><img id="logo" src="{{brand.logoUrl}}"></a></div>
      <div>{{brand.brandname}}</div>
      <div>{{brand.categorie}}</div>
    
    <button><a href="/mybrands">RETOUR VERS MES MARQUES</a></button>
    <form action="/Brand-detail/{{id}}/delete" method="POST"><button>Supprimer la marque</button></form>
  </div>
</div>

