<div id="brand-detail">
    <h1>{{brand.brandname}}</h1>
    <h2>{{brand.categorie}}</h2>
    <div class="logodetail-img">
      <a href="{{brand.websiteUrl}}" target="_blank">
        <img class="logo-detail" src="{{brand.logoUrl}}">
      </a>
    </div>
      
      
    
    <button class="returnmybrand-button"><a href="/mybrands">RETOUR VERS MES MARQUES</a></button>
    
    <div >
      <form action="/Brand-detail/{{id}}/delete" method="POST">
        <button class="deletebrand-button">Supprimer la marque</button>
      </form>
    </div>

  
</div>

